$titleColor: #6e0a4d;

//base
@use 'partials/base/reset';
@use 'partials/base/tipografia';

//utilities
@use 'partials/utilities/variables';

//components
@use 'partials/components/navbar';


.body{
    background:#d30505;
}
.logo-size {
    width: 30px;
    height: 30px;
}

.title-stile{
    font-family:'Arial Narrow';
    text-align: center;
    font-size: 72px;
    color: $titleColor;
}



.standar-style{
    font-family: sans-serif;
    font-size: 20px;
}

.p-footer {
    font-size: 18px;
    color: #BABABA;
}

.carrousel-item{
    height: 52rem;
}

.carousel-indicators [data-bs-target]{
    background-color: red;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: red;
}

.itemform{
    margin:  20px;

}