$font-sizes: (
    title-size: 4rem,
    small-title-size: 3.5,
    smaller-title-size: 2,
    card-size:1.75,

    media-title-size: 3rem,
    media-small-title-size: 2.5,
    media-smaller-title-size: 1,
);