.carrousel-item {
    height: 52rem;
}

.carousel-indicators [data-bs-target] {
    background-color: red;
}

.carousel {
    width: 100%;
    padding: 20px;

    .carousel-img {
        height: 800px;
        border-radius: 100px;
    }
}

@media (max-width: 768px) {
    .carousel {
        width: 100%;
        padding: 8px;

        .carousel-img {
            height: 200px;
        }

    }
}

.itemform {
    margin: 20px;

}