
.carrousel-item{
    height: 52rem;
}

.carousel-indicators [data-bs-target]{
    background-color: red;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: red;
}

.itemform{
    margin:  20px;

}