.logo-size {
    width: 30px;
    height: 30px;
}

.title-style{
    font-family: "Roboto";
    text-align: center;
    font-size: 4rem;   

    color: $titleColor;
}

h2 {
    font-family: "Roboto";
    font-size: 3.5rem;   
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

h3 {
    font-family: "Roboto";

    font-size: 2rem;
    color: #333;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .title-style{
        font-size: 3rem;   

    }
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    h3{
        font-size: 1rem;
    }
}

.standar-style{
    font-family: "Roboto";
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}



.card-font{
    font-family: "Roboto";
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.p-footer {
    font-size: 18px;
    color: #BABABA;
}


