.logo-size {
    width: 30px;
    height: 30px;
}

.title-style{
    font-family:'Arial Narrow';
    text-align: center;
    font-size: 4rem;   

    color: $titleColor;
}

h2 {
    font-family:'Arial Narrow';

    font-size: 3.5rem;   
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

h3 {
    font-family:'Arial Narrow';

    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 576px) {
    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    h3{
        font-size: 1rem;
    }
}

.standar-style{
    font-family: sans-serif;
    font-size: 2rem;
    color: rgb(24, 23, 23);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}



.card-font{
    font-family: sans-serif;
    font-size: 1.75rem;
    color: rgb(10, 10, 10);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.p-footer {
    font-size: 18px;
    color: #BABABA;
}


