.logo-size {
    @include size (30px,30px );
}

.title-style{
    font-family: "Roboto";
    text-align: center;
    font-size: map-get($font-sizes , title-size );   

    color: $titleColor;
}

h2 {
    font-family: "Roboto";
    font-size:  map-get($font-sizes , small-title-size );   
    font-weight: bold;
    text-align: center;
    color: $fontColor;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

h3 {
    font-family: "Roboto";

    font-size: map-get($font-sizes ,  smaller-title-size );
    color: $fontColor;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .title-style{
        font-size: map-get($font-sizes ,  media-title-size );   

    }
    h2 {
        font-size: map-get($font-sizes ,  media-small-title-size );
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    
    h3{
        font-size:  map-get($font-sizes ,  media-smaller-title-size);
    }
}

.standar-style{
    font-family: "Roboto";
    font-size:  map-get($font-sizes ,  smaller-title-size );;
    color: $fontColor;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}



.card-font{
    font-family: "Roboto";
    font-size:  map-get($font-sizes ,  card-size);;
    color: $fontColor;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.p-footer {
    font-size: 18px;
    color: #575757;
}


